# Google Drive
GCP_CREDENTIALS_PATH=config/secure_gcp_credentials.json
GOOGLE_DRIVE_FOLDER_ID=

# For Open AI 
OPENAI_API_KEY=

# For Ollama AI
OLLAMA_MODEL=llama3
EMBEDDING_MODEL=nomic-embed-text
OLLAMA_URL=http://localhost:11434